

body{
    
    height: 400px;
    background-image: linear-gradient(to right,white, lightskyblue);  
    margin:35px;
}
h1{
    color:#3333bb;
    font-style:italic;   
}
.menuhead{ 
    font-family: Pristina;
    margin-left: 35px;
    font-size:30px;
}
button {
    padding: 16px 30px;
    margin: 6px 3px;
    border:#3333bb;
    border-radius: 5px;
    height: 60px;
    background-image: radial-gradient(rgb(0, 255, 251),rgb(47, 203, 42));
    width: 150px;
    text-decoration-color: rgb(6, 6, 84);
    text-align: center;
    font-size:30px;
    cursor: pointer;
}
.sheet0{

    width:225px;
    height:60px;
    border-radius:5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    cursor: pointer;
}
.sheet1{

    width:225px;
    height:60px;
    border-radius:5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    cursor: pointer;
}

.sheet2 {
    width:225px;
    height:60px;
    border-radius:5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    cursor: pointer;
}
.sheet3 {
    width:225px;
    height:60px;
    border-radius:5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    cursor: pointer;
}

.sheet4 {
    width:225px;
    height:60px;
    border-radius:5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    cursor: pointer;

}
.sheet5{
    width:225px;
    height:60px;
    border-radius:5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    cursor: pointer;
}
